<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Projet ORACCLE</h1>
      <h1 class="project-tagline">Formation interne à l'open data</a></h3>
    </section>

    <section class="main-content">
      {{ content }}

    <footer class="site-footer">
	    <p style="font-weight:bold">À propos de l'Action 2 "Faire de la donnée un allié pour l’orientation" du projet ORACCLE</p>
	    <p>Par le biais d’ORACCLE, les Universités d’Ile-de-France souhaitent accélérer le processus d’ouverture de ses données. L’objectif de cette action sera ainsi de former en interne à la culture de la donnée, de permettre un traitement anonymisé dans le but de montrer et faire valoir les parcours des étudiants du bac au bac+8. Par cette pluralité, nous pourrons ainsi mieux guider, mieux informer sur les trajectoires, les parcours ainsi que les passerelles en temps réel tout en ayant la volonté future de penser à la création d’un véritable GPS de l’orientation qui puisera au sein de ces informations.</p>
      <p><a href="https://oraccle.fr/actions/">Pour en savoir plus</a></p>
      </footer>
    </section>

  </body>
</html>
