<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Webinaires INTEFP</h1>
      <h1 class="project-tagline">Cycle de webinaires sur les enjeux de la donnée et de l'intelligence artificielle pour le monde du travail</a></h3>
    </section>

    <section class="main-content">
      {{ content }}

    <footer class="site-footer">
	    <p style="font-weight:bold">Webinaires INTEFP</p>
      </footer>
    </section>

  </body>
</html>
